In [0]:
spark

In [0]:
import pyspark.pandas as pd
pd

Out[2]: <module 'pyspark.pandas' from '/databricks/spark/python/pyspark/pandas/__init__.py'>

In [0]:
spark

In [0]:
athlets=pd.read_csv('dbfs:/FileStore/Athletes.csv')
athlets.head(100)

,Name,NOC,Discipline
0,AALERUD Katrine,Norway,Cycling Road
1,ABAD Nestor,Spain,Artistic Gymnastics
2,ABAGNALE Giovanni,Italy,Rowing
3,ABALDE Alberto,Spain,Basketball
4,ABALDE Tamara,Spain,Basketball
5,ABALO Luc,France,Handball
6,ABAROA Cesar,Chile,Rowing
7,ABASS Abobakr,Sudan,Swimming
8,ABBASALI Hamideh,Islamic Republic of Iran,Karate
9,ABBASOV Islam,Azerbaijan,Wrestling
10,ABBINGH Lois,Netherlands,Handball
11,ABBOT Emily,Australia,Rhythmic Gymnastics
12,ABBOTT Monica,United States of America,Baseball/Softball
13,ABDALLA Abubaker Haydar,Qatar,Athletics
14,ABDALLA Maryam,Egypt,Artistic Swimming
15,ABDALLAH Shahd,Egypt,Artistic Swimming
16,ABDALRASOOL Mohamed,Sudan,Judo
17,ABDEL LATIF Radwa,Egypt,Shooting
18,ABDEL RAZEK Samy,Egypt,Shooting
19,ABDELAZIZ Abdalla,Egypt,Karate
20,ABDELAZIZ Farah,Egypt,Table Tennis
21,ABDELAZIZ Feryal,Egypt,Karate
22,ABDELMAWGOUD Mohamed,Egypt,Judo
23,ABDELMOTTALEB Diaaeldin Kamal Gouda,Egypt,Wrestling
24,ABDELRAHMAN Ihab,Egypt,Athletics
25,ABDELSALAM Mohamed,Egypt,Football
26,ABDELSALAM Nour,Egypt,Taekwondo
27,ABDELWAHED Ahmed,Italy,Athletics
28,ABDI Bashir,Belgium,Athletics
29,ABDIRAHMAN Abdi,United States of America,Athletics
30,ABDUL HADI Farah Ann,Malaysia,Artistic Gymnastics
31,ABDUL RAHMAN Kiria Tikanah,Singapore,Fencing
32,ABDUL RAZZAQ Fathimath Nabaaha,Maldives,Badminton
33,ABDULHAMID Saud,Saudi Arabia,Football
34,ABDULJABBAR Ammar Riad,Germany,Boxing
35,ABDULLAEV Gulomjon,Uzbekistan,Wrestling
36,ABDULLAEV Muminjon,Uzbekistan,Wrestling
37,ABDULLAH Rahmat Erwin,Indonesia,Weightlifting
38,ABDULLIN Ilfat,Kazakhstan,Archery
39,ABDULREDHA Mohamed,Bahrain,Handball
40,ABDURAIMOV Elnur,Uzbekistan,Boxing
41,ABDURAKHIMOV Rasuljon,Uzbekistan,Artistic Gymnastics
42,ABDURAKHMONOV Bekzod,Uzbekistan,Wrestling
43,ABE Hifumi,Japan,Judo
44,ABE Takatoshi,Japan,Athletics
45,ABE Uta,Japan,Judo
46,ABEBE Mekides,Ethiopia,Athletics
47,ABEDINI Mojtaba,Islamic Republic of Iran,Fencing
48,ABEL Jennifer,Canada,Diving
49,ABELA Matthew,Malta,Badminton
50,ABELVIK ROED Magnus,Norway,Handball
51,ABEYSINGHE Matthew,Sri Lanka,Swimming
52,ABIAN Pablo,Spain,Badminton
53,ABICHA Mohammed,Morocco,Beach Volleyball
54,ABICHT Lorena,Austria,Sailing
55,ABIDINE Abidine,Mauritania,Athletics
56,ABLIAZIN Denis,ROC,Artistic Gymnastics
57,ABOUD Hadel,Libya,Athletics
58,ABOUELKASSEM Alaaeldin,Egypt,Fencing
59,ABOUKE Nancy Genzel,Nauru,Weightlifting
60,ABRAHAM Tadesse,Switzerland,Athletics
61,ABRAHAMS Rusten John,South Africa,Hockey
62,ABRAMS Aliyah,Guyana,Athletics
63,ABRAMS Jasmine,Guyana,Athletics
64,ABRAMYAN Benik,Georgia,Athletics
65,ABREU Diogo,Portugal,Trampoline Gymnastics
66,ABRINES REDONDO Alejandro,Spain,Basketball
67,ABROSIMOV Kirill,ROC,Marathon Swimming
68,ABU RABEE Asma,Jordan,Shooting
69,ABU RMILAH Wesam,Palestine,Judo
70,ABUAKU Joshua,Germany,Athletics
71,ABUJBARA Tala,Qatar,Rowing
72,ACERENZA Domenico,Italy,Swimming
73,ACETI Vladimir,Italy,Athletics
74,ACHAB Jaouad,Belgium,Taekwondo
75,ACHANTA Kamal,India,Table Tennis
76,ACHILLEOS Georgios,Cyprus,Shooting
77,ACHIUWA Precious,Nigeria,Basketball
78,ACHONWA Natalie,Canada,Basketball
79,ACHOURI Haikel,Tunisia,Wrestling
80,ACKERMANN Simone,South Africa,Triathlon
81,ACOSTA Briseida,Mexico,Taekwondo
82,ACOSTA FERNANDEZ Yasmani,Chile,Wrestling
83,ACOSTA GIRALDO Valentina,Colombia,Archery
84,ACOSTA Marcelo,El Salvador,Swimming
85,ACUNA Yenny,Chile,Football
86,ADACHI Kazuya,Japan,Canoe Slalom
87,ADACHI Seiya,Japan,Water Polo
88,ADAM Amal,Egypt,Archery
89,ADAM Constantin,Romania,Rowing
90,ADAMEK Klaudia,Poland,Athletics
91,ADAMKIEWICZ Patrycja,Poland,Taekwondo
92,ADAMS Liam,Australia,Athletics
93,ADAMS Paul,Australia,Shooting
94,ADAMS Taeyanna,Federated States of Micronesia,Swimming
95,ADAMUS Bartlomiej Stejan,Poland,Weightlifting
96,ADAO de SA Mateus Daniel,Brazil,Athletics
97,ADAR Yasemin,Turkey,Wrestling
98,ADEBAYO Edrice Femi,United States of America,Basketball
99,ADEGOKE Enoch,Nigeria,Athletics

In [0]:
athlets.info()

<class 'pyspark.pandas.frame.DataFrame'>
Int64Index: 11085 entries, 0 to 11084
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        11085 non-null  object
 1   NOC         11085 non-null  object
 2   Discipline  11085 non-null  object
dtypes: object(3)

In [0]:
athlets.shape

athlets.shape[0]

# total participants player = 11085

Out[6]: 11085

In [0]:
# lets group by noc to find total countries and their players.

no_of_countries=athlets.groupby('NOC')

In [0]:
len(athlets)

Out[8]: 11085

In [0]:
no_of_countries

Out[9]: <pyspark.pandas.groupby.DataFrameGroupBy at 0x7f6348082c10>

In [0]:
country_players=no_of_countries.size().sort_values(ascending=False)
country_players
# total no_of_Players of each country

Out[10]: NOC
United States of America              615
Japan                                 586
Australia                             470
People's Republic of China            401
Germany                               400
France                                377
Canada                                368
Great Britain                         366
Italy                                 356
Spain                                 324
ROC                                   318
Brazil                                291
Netherlands                           274
Republic of Korea                     223
New Zealand                           202
Poland                                195
Argentina                             180
South Africa                          171
Mexico                                155
Hungary                               155
Ukraine                               152
Egypt                                 133
Sweden                                129
Belgium                               125
India                                 117
Czech Republic                        117
Ireland                               116
Switzerland                           115
Belarus                               104
Denmark                               103
Turkey                                102
Romania                                99
Norway                                 92
Kazakhstan                             92
Israel                                 85
Portugal                               85
Serbia                                 83
Kenya                                  78
Greece                                 75
Austria                                72
Cuba                                   69
Chinese Taipei                         67
Islamic Republic of Iran               66
Colombia                               64
Uzbekistan                             63
Dominican Republic                     61
Jamaica                                60
Nigeria                                59
Croatia                                57
Tunisia                                57
Chile                                  56
Slovenia                               51
Morocco                                48
Ecuador                                46
Finland                                45
Venezuela                              43
Mongolia                               43
Ethiopia                               42
Algeria                                41
Azerbaijan                             41
Bulgaria                               41
Hong Kong, China                       40
Thailand                               39
Slovakia                               38
Lithuania                              37
Puerto Rico                            35
Georgia                                35
Montenegro                             35
Peru                                   33
Estonia                                33
Saudi Arabia                           32
Trinidad and Tobago                    31
Bahrain                                31
CÃ´te d'Ivoire                          29
Malaysia                               29
Zambia                                 29
Latvia                                 29
Fiji                                   28
Refugee Olympic Team                   26
Indonesia                              26
Honduras                               25
Uganda                                 24
Singapore                              23
Guatemala                              22
Angola                                 20
Republic of Moldova                    19
Philippines                            18
Vietnam                                17
Bahamas                                16
Armenia                                16
Kyrgyzstan                             16
Qatar                                  14
Ghana                                  14
Cyprus                                 14
Eritrea                                13
Botswana                               13
Costa Rica                             13
Jordan                                 11
Uruguay                                11
Namibia                                11
Luxembourg                             11
Cameroon                               11
Kosovo                                 10
Kuwait                                 10
Pakistan                               10
Senegal                                 9
Sri Lanka                               9
Panama                                  9
Paraguay                                8
Albania                                 8
Nicaragua                               8
Tajikistan                              8
Turkmenistan                            8
Samoa                                   8
North Macedonia                         8
Mozambique                              8
Guyana                                  7
Benin                                   7
Niger                                   7
Barbados                                7
Democratic Republic of the Congo        7
Bosnia and Herzegovina                  7
Papua New Guinea                        7
Burkina Faso                            7
Mauritius                               7
Madagascar                              6
Malta                                   6
Burundi                                 6
Bangladesh                              6
Monaco                                  6
Cape Verde                              6
Grenada                                 6
Cook Islands                            6
Lebanon                                 6
Antigua and Barbuda                     6
Haiti                                   6
Syrian Arab Republic                    6
Tonga                                   5
Malawi                                  5
Afghanistan                             5
Rwanda                                  5
Sudan                                   5
American Samoa                          5
Cayman Islands                          5
Bolivia                                 5
Gabon                                   5
Liechtenstein                           5
Oman                                    5
Zimbabwe                                5
Guam                                    5
Saint Lucia                             5
Guinea                                  5
Seychelles                              5
Nepal                                   5
El Salvador                             5
Djibouti                                4
Iraq                                    4
Maldives                                4
Togo                                    4
San Marino                              4
Sierra Leone                            4
Iceland                                 4
Palestine                               4
Libya                                   4
Eswatini                                4
United Arab Emirates                    4
Lao People's Democratic Republic        4
Guinea-Bissau                           4
Virgin Islands, US                      4
Mali                                    4
Chad                                    3
Yemen                                   3
Kiribati                                3
Comoros                                 3
Cambodia                                3
Palau                                   3
Equatorial Guinea                       3
Sao Tome and Principe                   3
Suriname                                3
Congo                                   3
Bhutan                                  3
Virgin Islands, British                 3
Aruba                                   3
Federated States of Micronesia          3
Liberia                                 3
Belize                                  3
Gambia                                  3
Solomon Islands                         3
Democratic Republic of Timor-Leste      3
Dominica                                2
Lesotho                                 2
Myanmar                                 2
Brunei Darussalam                       2
Somalia                                 2
Marshall Islands                        2
Tuvalu                                  2
United Republic of Tanzania             2
Andorra                                 2
St Vincent and the Grenadines           2
Mauritania                              2
Central African Republic                2
Nauru                                   2
Saint Kitts and Nevis                   2
South Sudan                             2
Bermuda                                 2
Vanuatu                                 2
dtype: int64

In [0]:
toatl_countries=no_of_countries.size().sort_values(ascending=False).count()

# total countries parcticipated in olypmpics

toatl_countries

#206 countries

Out[11]: 206

In [0]:
# no of disciplined / games played in olympics.

no_of_dicsipline= athlets.groupby('Discipline')

In [0]:
no_of_dicsipline.size().sort_values(ascending=False)

Out[13]: Discipline
Athletics                2068
Swimming                  743
Football                  567
Rowing                    496
Hockey                    406
Judo                      373
Handball                  343
Shooting                  342
Sailing                   336
Rugby Sevens              283
Basketball                280
Wrestling                 279
Volleyball                274
Boxing                    270
Water Polo                269
Fencing                   249
Equestrian                237
Canoe Sprint              236
Baseball/Softball         220
Cycling Track             208
Cycling Road              190
Artistic Gymnastics       187
Weightlifting             187
Tennis                    178
Badminton                 164
Table Tennis              164
Diving                    133
Taekwondo                 123
Archery                   122
Golf                      115
Triathlon                 106
Artistic Swimming          98
Rhythmic Gymnastics        95
Beach Volleyball           90
Canoe Slalom               78
Karate                     77
Skateboarding              77
Cycling Mountain Bike      74
Modern Pentathlon          69
3x3 Basketball             62
Marathon Swimming          49
Cycling BMX Racing         43
Surfing                    38
Sport Climbing             37
Trampoline Gymnastics      31
Cycling BMX Freestyle      19
dtype: int64

In [0]:
toatal_discipline=no_of_dicsipline.size().sort_values(ascending=False).count()

toatal_discipline
# no_of_discipline = 46

Out[14]: 46

In [0]:
country_players.head(5)

Out[15]: NOC
United States of America      615
Japan                         586
Australia                     470
People's Republic of China    401
Germany                       400
dtype: int64

In [0]:
coaches=pd.read_csv('dbfs:/FileStore/Coaches.csv')
coaches.head(10)

,Name,NOC,Discipline,Event
0,ABDELMAGID Wael,Egypt,Football,None
1,ABE Junya,Japan,Volleyball,None
2,ABE Katsuhiko,Japan,Basketball,None
3,ADAMA Cherif,CÃ´te d'Ivoire,Football,None
4,AGEBA Yuya,Japan,Volleyball,None
5,AIKMAN Siegfried Gottlieb,Japan,Hockey,Men
6,AL SAADI Kais,Germany,Hockey,Men
7,ALAMEDA Lonni,Canada,Baseball/Softball,Softball
8,ALEKNO Vladimir,Islamic Republic of Iran,Volleyball,Men
9,ALEKSEEV Alexey,ROC,Handball,Women

In [0]:
coaches.sort_values(['Name']).head(10)

,Name,NOC,Discipline,Event
0,ABDELMAGID Wael,Egypt,Football,None
1,ABE Junya,Japan,Volleyball,None
2,ABE Katsuhiko,Japan,Basketball,None
3,ADAMA Cherif,CÃ´te d'Ivoire,Football,None
4,AGEBA Yuya,Japan,Volleyball,None
5,AIKMAN Siegfried Gottlieb,Japan,Hockey,Men
6,AL SAADI Kais,Germany,Hockey,Men
7,ALAMEDA Lonni,Canada,Baseball/Softball,Softball
8,ALEKNO Vladimir,Islamic Republic of Iran,Volleyball,Men
9,ALEKSEEV Alexey,ROC,Handball,Women

In [0]:
coaches.shape[0]
# 394 coaches participated in olympic 2021

Out[18]: 394

In [0]:
# coaches by country

coahes_by_country=coaches.groupby('NOC')

In [0]:
coahes_by_country.size().sort_values(ascending=False)

Out[20]: NOC
Japan                         35
Spain                         28
United States of America      28
Australia                     22
Canada                        16
Italy                         14
People's Republic of China    12
Egypt                         12
South Africa                  12
ROC                           12
Argentina                     11
France                        10
Venezuela                     10
Netherlands                   10
Germany                        9
Nigeria                        9
Mexico                         8
New Zealand                    8
Republic of Korea              7
Great Britain                  7
Brazil                         7
Greece                         6
Chile                          6
Dominican Republic             6
CÃ´te d'Ivoire                  5
Belgium                        5
India                          5
Kenya                          5
Serbia                         5
Ukraine                        4
Hungary                        4
Sweden                         3
Puerto Rico                    3
Norway                         3
Ireland                        3
Slovenia                       3
Poland                         3
Austria                        3
Islamic Republic of Iran       2
Fiji                           2
San Marino                     2
Denmark                        2
Israel                         2
Montenegro                     2
Saudi Arabia                   2
Zambia                         2
Czech Republic                 2
Romania                        2
Kazakhstan                     2
Colombia                       2
Turkey                         1
Cambodia                       1
Slovakia                       1
Angola                         1
Belarus                        1
Croatia                        1
Liechtenstein                  1
Tunisia                        1
Honduras                       1
Portugal                       1
Bahrain                        1
dtype: int64

In [0]:
coahes_by_country.size().sort_values(ascending=False).count()

# so total 61 countries send total 394 coaches for their players among 206 counties

Out[21]: 61

In [0]:
medals=pd.read_csv('dbfs:/FileStore/Medals.csv')

In [0]:
medals.head(10)

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
5,6,Australia,17,7,22,46,6
6,7,Netherlands,10,12,14,36,9
7,8,France,10,12,11,33,10
8,9,Germany,10,11,16,37,8
9,10,Italy,10,10,20,40,7

In [0]:
entriesGender=pd.read_csv('dbfs:/FileStore/EntriesGender.csv')

In [0]:
entriesGender.head(10)

,Discipline,Female,Male,Total
0,3x3 Basketball,32,32,64
1,Archery,64,64,128
2,Artistic Gymnastics,98,98,196
3,Artistic Swimming,105,0,105
4,Athletics,969,1072,2041
5,Badminton,86,87,173
6,Baseball/Softball,90,144,234
7,Basketball,144,144,288
8,Beach Volleyball,48,48,96
9,Boxing,102,187,289

In [0]:
entriesGender.shape

Out[27]: (46, 4)